.button {
  @include flex(center, center);
  @include button($color-reverse, transparent, 10px, 6px, none, 5px, uppercase);
  @include font(16px, 400, 20px);
  width: 200px;
  border: 1px solid $color-secondary;
  outline: none;
  transition-duration: 0.5s;
  &:hover {
    @include button($color-main, $color-reverse, 10px, 6px, none, 5px, uppercase);
    border: 1px solid $color-secondary;
  }

  .form & {
    width: 100%;
    @include button($color-reverse, $color-bg-dark, 10px, auto, none, 5px, uppercase);

    @media screen and (min-width: 640px) {
      & {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    &:hover {
      background-color: lighten($color-bg-dark, 20%);
      border: 1px solid $color-secondary;
    }
  }

  @media screen and (min-width: 640px) {
    & {
      width: 250px;
    }
  }

  &-wrap {
    @include flex(center, center);
    margin-top: 4px;
    @media screen and (min-width: 480px) {   
      & {
        margin-top: 0;
      }
    }
  }

  &-expand {
    margin-top: 20px;
  }

  .hero .form & {
    margin-top: 30px;
  }

  .footer &-wrap {
    width: 100%;
  }

  &-reverse {
    @include button($color-main, $color-reverse, 15px, 6px, none, 5px, uppercase);

    @media screen and (min-width: 640px) {
      & {
        @include button($color-main, $color-reverse, 15px, 6px, none, 5px, uppercase);
      }
    }

    &:hover {
      @include button($color-reverse, $color-additional, 10px, 6px, none, 5%, uppercase);
    }
  }

  &-icon {
    @include flex(center, center);
    @include wrap(35px, 35px, 0, 0);
    margin: 0;

    &:hover {
      .img {
        transition-duration: 0.5s;
        width: 120%;
        height: 120%;
      }
    }

    &.bounce {
      animation: bounce 2s infinite;
    }
    
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-10px);
      }
    }
  }
   
}

.burger-button {
  @include flex(center, center);
  @include wrap(48px, 48px, 10px, 50%);
  background-color: $color-secondary;
  transition-duration: 1.2s;

  &:hover {
    background-color: darken($color-secondary, 10%);

    .img {
      transition-duration: 1s;
      transform: rotate(360deg);
    }
  }

  @media screen and (min-width: 480px) {
    & {
      @include wrap(58px, 58px, 10px, 50%);
    }
  }
}

.rotate {
  transition-duration: 1s;
  transform: rotate(180deg);
}