.header-bottom {
  margin: 0;
  background-color: $color-reverse;
  height: 100%;
  border-bottom: 1px solid $color-secondary;

  .header-layout {
    @include flex(space-between, stretch);
    padding: 0;
    align-items: stretch;
  }

  .header-left {
    padding: 20px 0;

    @media screen and (min-width: 640px) {
      & {
        padding: 25px 0;
      }
    }
  }

  .header-right {
    @include flex(center, center);
  }
}

.burger-icon {
  @include flex(center, center);
  @include wrap(37px, 37px, 0, 0);
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo-name-wrap {
  margin: 0;
  padding: 0;
  max-width: 160px;
}
