.list-about {
  @include flex(center, flex-start);
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-position: inside;
  counter-reset: number;
  list-style-type: none;

  @media screen and (min-width: 480px) {
    @include spacing(8px);
  }

  @media screen and (min-width: 640px) {
    @include spacing(12px);
  }

  & li {
    @include flex(center, center);
    flex-wrap: wrap;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    & .list-item-header {
      @include flex(center, flex-start);

      &::before {
        counter-increment: number;
        content: '0' counter(number);
        width: 26px;
        height: 22px;
        @include flex(center, center);
        background-color: $color-reverse;
        color: $color-secondary;
        @include font(16px, 400, 1);
        flex-shrink: 0;
        margin-right: 10px;
        border-right: 1px solid $color-secondary;

        @media screen and (min-width: 640px) {
          & {
            width: 30px;
            height: 26px;
            @include font(18px, 400, 1);
            margin-right: 12px;
          }
        }

        @media screen and (min-width: 960px) {
          & {
            width: 34px;
            height: 30px;
            @include font(22px, 400, 1);
            margin-right: 15px;
          }
        }
      }
    }

    & .list-item-body {
      @include flex(center, center);
    }
  }
}

.list-title {
  color: $color-main;
  @include font(14px, 400, 20px);
  text-transform: uppercase;
  margin: 0;
  text-align: center;

  @media screen and (min-width: 640px) {
    & {
      @include font(16px, 400, 26px);
    }
  }

  @media screen and (min-width: 960px) {
    & {
      @include font(20px, 400, 30px);
    }
  }
}

.list-description {
  @include font(12px, 400, 17px);
  margin: 0;
  color: $color-additional;
  text-align: center;
  margin-top: 20px;
  max-width: 245px;

  @media screen and (min-width: 640px) {
    & {
      @include font(14px, 400, 24px);
    }
  }

  @media screen and (min-width: 960px) {
    & {
      @include font(16px, 400, 26px);
    }
  }
}
