.social {
  padding: 0;
  @include flex(center, center);
  @include spacing(2px);

  & > li {
    list-style-type: none;
  }

  &-footer {
    justify-content: space-between;
  }

  &-link {
    @include flex(center, center);
  }

  &-bg {
    @include wrap(20px, 20px, 0, 50%);
    background-color: transparent;
    @include flex(center, center);
    transition-duration: 0.5s;

    &:hover {
      background-color: $color-secondary;
    }
  }

  @media screen and (min-width: 640px) {
    & {
      @include spacing(5px);
    }

    &-bg {
      width: 25px;
      height: 25px;
    }
  }

  @media screen and (min-width: 960px) {
    & {
      @include spacing(10px);
    }
  
    &-bg {
      width: 30px;
      height: 30px;
    }
  }
}

.icon-size-footer {
  height: 12px;
  width: auto;

  @media screen and (min-width: 640px) {
    & {
      height: 15px;
    }
  }

  @media screen and (min-width: 960px) {
    & {
      height: 18px;
    }
  }
}