.swiper1-top iframe {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;

  .swiper1-bottom & {
    background-size: cover;
    background-position: center;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  .swiper1-top & {
    margin: 0;
  }

  &-wrap {
    @include flex(center, center);
    height: 100%;
  }
}

.swiper-title {
  @include font(18px, 400, 29px);
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  color: $color-main;
}

.control-title {
  @include font(16px, 400, 24px);
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  color: $color-main;
}

.swiper1-bottom {
  height: 50px;
  padding: 0;

  & .swiper-slide-thumb-active .slide-overlay {
    display: none;
  }
}

.slide-overlay {
  @include overlay(1, $color-overlay, 0.7)
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  border-radius: 5px;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.story-control-wrap {
  position: relative;
}

.slide-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 2px;
  background: -o-radial-gradient(50% 50%, 1.00px, #00D053 0%, rgba(0, 208, 83, 0.09) 100%);
  background: radial-gradient(1.00px at 50% 50%, #00D053 0%, rgba(0, 208, 83, 0.09) 100%)
}

.story-control-outer {
  @include wrap(35px, 35px, 0, 50%);
  @include flex(center, center);
  background-color: transparent;
  margin: 0 auto;

  .swiper3-controls .swiper-slide-thumb-active & {
    background-color: rgba(0, 208, 83, 0.2);
  }
}

.story-control-inner {
  @include wrap(8px, 8px, 0, 50%);
  @include flex(center, center);
  background-color: $color-secondary;
}

.slide-body {
  background: $color-reverse;
  color: $color-main;
  box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
  border-radius: 10px;
  padding: 30px 20px;
  @include font(14px, 400, 22px);
  text-align: center;
}