$f-family-main: 'Roboto', sans-serif;
$f-size-main: 16px;
$f-weight-main: 400;
$f-weight-bold: 700;
$f-lheight-main: 20px;

$color-main: black;
$color-reverse: white;
$color-secondary: #ffe600;
$color-additional: #8e8e8e;
$color-bg-dark: #343C4A;
$color-overlay: #343C4A;