<section id="section-1" class="section section-about">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title">About us</h2>
      <h4 class="section-subtitle">YELLOW SIDE OF THE MOON IS NOT SECRET ANYMORE</h4>
    </header>
    <main class="section-body">
      <ol class="list-about">
        <li class="list-item col-12 col-6s col-4m">
          <header class="list-item-header">
            <h2 class="list-title">WE MAKE SOME ART</h2>
          </header>
          <div class="list-item-body col-12">
            <h4 class="list-description">
              Its just some empty spaces with some text,images and more empty spaces
            </h4>
          </div>
        </li>
        <li class="list-item col-12 col-6s col-4m">
          <header class="list-item-header">
            <h2 class="list-title">WE DEVELOP SOME APPS</h2>
          </header>
          <div class="list-item-body col-12">
            <h4 class="list-description">
              You click and magic happen, well someone must make magic
            </h4>
          </div>  
        </li>
        <li class="list-item col-12 col-6s col-4m">
          <header class="list-item-header">
            <h2 class="list-title">WE TAKE SOME PHOTOS</h2>
          </header>
          <div class="list-item-body col-12">
            <h4 class="list-description">
              This is the easy part of job, just point camera and shoot
            </h4>
          </div>
        </li>
      </ol>
    </main>
  </div>
</section>