<section class="section banner">
  <div class="container">
    <div class="banner-textarea">
      <h1 class="banner-title">THIS IS SOME RANDOM TEXT <br> WHERE YOU GET INSPIRED AND DO SOME COOL STUFF</h1>
      <p class="banner-description">
        NO...WE ARE NOT LAZY, EVERY WEBSITE NEEDS BLANK SPACE
      </p>
    </div>
  </div>
  <figure class="banner-background">
    <img class="img" src="images/banner/banner.jpg" alt="Not found">
  </figure>
  <div class="banner-overlay"></div>
</section>