<section id="section-3" class="section section-clients bg-dark">
  <div class="container">
    <h2 class="section-title title-reverse">CLIENTS</h2>
    <h4 class="section-subtitle">SOMEBODY ACTUALLY PAYs US FOR this STUFF</h4>
    <ul class="list-clients">
      <li><img class="clients-img" src="images/clients/1.png" alt="not found"></li>
      <li><img class="clients-img" src="images/clients/2.png" alt="not found"></li>
      <li><img class="clients-img" src="images/clients/3.png" alt="not found"></li>
      <li><img class="clients-img" src="images/clients/4.png" alt="not found"></li>
      <li><img class="clients-img" src="images/clients/5.png" alt="not found"></li>
      <li><img class="clients-img" src="images/clients/6.png" alt="not found"></li>
    </ul>
  </div>  
</section>