<section id="section-4" class="section section-contact">
  <div class="container">
    <h2 class="section-title">CONTACT US</h2>
    <h4 class="section-subtitle">SURE...WE CAN TAKE SOME TIME FOR CHAT</h4>
    <form class="form" action="" method="">
        <div class="form-layout">
          <div class="col-12 col-6s">
            <div class="form-input">
              <input class="form-style" type="text" autocomplete="on" name="name" placeholder="Name">
            </div>
          </div>
          <div class="col-12 col-6s">
            <div class="form-input">
              <input class="form-style" type="email" autocomplete="on" name="email" placeholder="Mail">
            </div>
          </div>
          <div class="col-12">
            <div class="form-input">
              <input class="form-style" type="text" autocomplete="on" name="subject" placeholder="Subject">
            </div>
          </div>
          <div class="form-area col-12 form-area-message">
            <textarea class="form-style form-textarea" name="comment" placeholder="Message"></textarea>
          </div>
          <div class="button-wrap col-12">
            <a href="#send" class="button">Send</a>
          </div>
        </div>
      </form>
    
  </div>  
</section>