<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-layout">
      <div class="footer-left">
        <h4 class="footer-h">© 2016 - YellowMoon All Right Reserved</h4>
      </div>
      <div class="footer-right">
        <ul class="social social-footer">
          <li><a class="social-link social-bg" href="#"><img class="icon-size-footer" src="images/icons/facebook.svg" alt="Not found"></a></li>
          <li><a class="social-link social-bg" href="#"><img class="icon-size-footer" src="images/icons/twitter.svg" alt="Not found"></a></li>
          <li><a class="social-link social-bg" href="#"><img class="icon-size-footer" src="images/icons/dribble.svg" alt="Not found"></a></li>
          <li><a class="social-link social-bg" href="#"><img class="icon-size-footer" src="images/icons/google.svg" alt="Not found"></a></li>
          <li><a class="social-link social-bg" href="#"><img class="icon-size-footer" src="images/icons/youtube.svg" alt="Not found"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>