<div class="header-top">
  <section class="hero">
    <div class="container">
      <div class="hero-layout">
        <a class="logo-wrap" href="index.html">
          <figure class="logo">
            <img class="img" src="images/logo/logo.png" alt="Not found">
          </figure>
        </a>
        <div class="hero-textarea">
          <p class="hero-description">
            WELCOME TO THE  YELLOW SIDE OF MOON
          </p>
          <h1 class="hero-title">WE DO SOME CREATIVE STUFF!!!</h1>
          <div class="scroll">
            <a href="#section-1" class="button-scroll"><span></span>Explore</a>
          </div>
        </div>
      </div>
    </div>
    <figure class="hero-background">
      <img class="img" src="images/hero/hero.jpg" alt="Not found">
    </figure>
    <div class="hero-overlay"></div>
  </section>
</div>