<header class="header-bottom">
  <div class="container">
    <div class="header-layout">
      <div class="header-left">
        <a class="logo" href="index.html">
          <figure class="logo-name-wrap">
            <img class="img" src="images/logo/name.png" alt="not found">
          </figure>
        </a>
      </div>
      <div class="header-right">
        <nav class="header-navigation">
          <div class="nav-wrap">
            <a href="index.html" class="nav-item isactive">Home</a>
          </div>
          <div class="nav-wrap">
            <a href="#section-1" class="nav-item">About us</a>
          </div>
          <div class="nav-wrap">
            <a href="#section-2" class="nav-item">Portfolio</a>
          </div>
          <div class="nav-wrap">
            <a href="#section-3" class="nav-item">Clients</a>
          </div>
          <div class="nav-wrap">
            <a href="#section-4" class="nav-item">Contact</a>
          </div>
        </nav>
        <div class="nav-mobile">
          <a class="dropdown-toggle burger-menu" href="#menu">
            <figure class="burger-button">
              <img class="img" src="images/icons/menu.svg" alt="not found">
            </figure>
          </a>  
          <ul class="dropdown bg-additional">
            <li><a href="index.html" class="nav-item-mob">Home</a></li>
            <li><a href="#about" class="nav-item-mob">About us</a></li>
            <li><a href="#portfolio" class="nav-item-mob">Portfolio</a></li>
            <li><a href="#clients" class="nav-item-mob">Clients</a></li>
            <li><a href="#clients" class="nav-item-mob">Contact</a></li>
          </ul> 
        </div>
      </div>
    </div>
  </div>
</header>