<section id="section-2" class="section section-portfolio">
  <div class="container">
    <header class="section-header">
      <div class="container">
        <h2 class="section-title">PORTFOLIO</h2>
        <h4 class="section-subtitle">WHEN WE ARE BORED WE MAKE SOME OF THESE</h4>
      </div>
    </header>
    <main class="section-body">
      <div class="grid">
        <div class="col col-12 col-6s col-3m">
          <a data-fancybox="gallery" href="images/portfolio/1.jpg">
            <div class="card card-portfolio">
              <figure class="card-background">
                <div class="img-wrap ratio-5-5">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/1.jpg" alt="not found">
                  </div>
                </div>  
              </figure>
              <div class="card-foreground">
                <h2 class="card-title">Awesome art</h2>
                <h3 class="card-subtitle">click to check</h3>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col col-12 col-6s col-3m">
          <a data-fancybox="gallery" href="images/portfolio/2.jpg">
            <div class="card card-portfolio">
              <figure class="card-background">
                <div class="img-wrap ratio-5-5">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/2.jpg" alt="not found">
                  </div>
                </div>  
              </figure>
              <div class="card-foreground">
                <h2 class="card-title">Awesome art</h2>
                <h3 class="card-subtitle">click to check</h3>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col col-12 col-6s col-3m">
          <a data-fancybox="gallery" href="images/portfolio/3.jpg">
            <div class="card card-portfolio">
              <figure class="card-background">
                <div class="img-wrap ratio-5-5">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/3.jpg" alt="not found">
                  </div>
                </div>  
              </figure>
              <div class="card-foreground">
                <h2 class="card-title">Awesome art</h2>
                <h3 class="card-subtitle">click to check</h3>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col col-12 col-6s col-3m">
          <a data-fancybox="gallery" href="images/portfolio/4.jpg">
            <div class="card card-portfolio">
              <figure class="card-background">
                <div class="img-wrap ratio-5-5">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/4.jpg" alt="not found">
                  </div>
                </div>  
              </figure>
              <div class="card-foreground">
                <h2 class="card-title">Awesome art</h2>
                <h3 class="card-subtitle">click to check</h3>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col col-12 col-6s col-3m display-toggle hidden visuallyhidden">
          <a data-fancybox="gallery" href="images/portfolio/5.jpg">
            <div class="card card-portfolio">
              <figure class="card-background">
                <div class="img-wrap ratio-5-5">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/5.jpg" alt="not found">
                  </div>
                </div>  
              </figure>
              <div class="card-foreground">
                <h2 class="card-title">Awesome art</h2>
                <h3 class="card-subtitle">click to check</h3>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col col-12 col-6s col-3m display-toggle hidden visuallyhidden">
          <a data-fancybox="gallery" href="images/portfolio/6.jpg">
            <div class="card card-portfolio">
              <figure class="card-background">
                <div class="img-wrap ratio-5-5">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/6.jpg" alt="not found">
                  </div>
                </div>  
              </figure>
              <div class="card-foreground">
                <h2 class="card-title">Awesome art</h2>
                <h3 class="card-subtitle">click to check</h3>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col col-12 col-6s col-3m display-toggle hidden visuallyhidden">
          <a data-fancybox="gallery" href="images/portfolio/7.jpg">
            <div class="card card-portfolio">
              <figure class="card-background">
                <div class="img-wrap ratio-5-5">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/7.jpg" alt="not found">
                  </div>
                </div>  
              </figure>
              <div class="card-foreground">
                <h2 class="card-title">Awesome art</h2>
                <h3 class="card-subtitle">click to check</h3>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
        <div class="col col-12 col-6s col-3m display-toggle hidden visuallyhidden">
          <a data-fancybox="gallery" href="images/portfolio/8.jpg">
            <div class="card card-portfolio">
              <figure class="card-background">
                <div class="img-wrap ratio-5-5">
                  <div class="img-content">
                    <img class="img" src="images/portfolio/8.jpg" alt="not found">
                  </div>
                </div>  
              </figure>
              <div class="card-foreground">
                <h2 class="card-title">Awesome art</h2>
                <h3 class="card-subtitle">click to check</h3>
              </div>
              <div class="card-overlay"></div>
            </div>
          </a>
        </div>
      </div>
      <h3 class="section-description display-toggle">OH...WE HAVE MORE OF THESE, click arrow below</h3>
      <div class="button-wrap">
        <a href="#more" class="button-expand">
          <figure class="button-icon bounce">
            <img class="icon-rotate img" src="images/icons/arrow-down.svg" alt="not found">
          </figure>
        </a>
      </div>
    </main>
  </div>
</section>